/****** General ***********/
:root {
    /* Colors */
    --primary-color: #9356DC;
    --green-color: #99E2D0;
    --green-font-color: #008766;
    --blue-color: #89C8FA;
    --blue-2-color: #003A68;
}

