/****** Pages Desktop style ******/ 
// Commentaire indiquant que les styles suivants sont pour les pages de bureau.

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); // Importation de la police Google 'Shrikhand'.
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); // Importation de la police Google 'Roboto'.

* { // Sélection de tous les éléments de la page.
    font-family: 'Roboto', sans-serif; // Application de la police 'Roboto' à tous les éléments.
}

h1, h2, h3, h4, h5, h6 { // Sélection de tous les titres (h1 à h6).
    font-family: 'Shrikhand', cursive; // Application de la police 'Shrikhand' à tous les titres.
}

/***** Header style ****/ // Commentaire indiquant que les styles suivants sont pour l'en-tête.

.main-container { // Sélection du conteneur principal.
    width: 100%; // Définition de la largeur à 100%.
}

.header-logo { // Sélection du logo de l'en-tête.
    display: grid;  // Utilisation d'un affichage de grille.
    grid-template-columns: 10px auto;  // Définition de deux colonnes, une de 10px et l'autre qui prend l'espace restant.
    grid-template-rows: repeat(1, auto);  // Définition d'une seule rangée.
    grid-auto-flow: column; // Les éléments sont placés par colonne.
    height: 96.34px; // Hauteur fixée à 96.34px.
    width: 100%; // Largeur fixée à 100%.
}

.arrow-header { // Sélection de la flèche dans l'en-tête.
    cursor: pointer; // Le curseur change en pointeur lorsqu'il est survolé.
    display: flex; // Utilisation d'un affichage flexible.
    align-items: center; // Les éléments sont centrés verticalement.
    justify-content: center; // Les éléments sont centrés horizontalement.
    padding: 85%; // Ajout d'une marge intérieure de 85%.
}

.arrow-header i { // Sélection de l'élément 'i' dans '.arrow-header'.
    font-size: 20px; // Taille de la police fixée à 20px.
    margin-left: 95%; // Ajout d'une marge à gauche de 95%.
}

main{ // Sélection de l'élément 'main'.
    position: relative; // Position fixée à 'relative'.
}

.page-hero-banner{ // Sélection de '.page-hero-banner'.
    width: 100%; // Largeur fixée à 100%.
    height: 383px; // Hauteur fixée à 383px.
    img{ // Sélection de l'image dans '.page-hero-banner'.
        width: 100%; // Largeur de l'image fixée à 100%.
        height: 383px; // Hauteur de l'image fixée à 383px.
        position: absolute; // Position de l'image fixée à 'absolute'.
        object-fit: cover; // L'image couvre la zone sans se déformer.
        z-index: -1; // L'image est placée en arrière-plan.
    }
}

.commande-and-menus { // Sélection de '.commande-and-menus'.
    display: block; // Utilisation d'un affichage en bloc.
    justify-content: space-between; // Espace égal entre les éléments.
    position: relative; // Position fixée à 'relative'.
    z-index: 1; // La div reste au premier plan.
    margin-top: -5%; // Ajout d'une marge en haut de -5%.
    box-sizing: border-box; // La largeur et la hauteur incluent le contenu, la marge intérieure et la bordure.
    padding: 30px 180px 0px 180px; // Ajout d'une marge intérieure.
}

.commande-and-menus section { // Sélection de 'section' dans '.commande-and-menus'.
    padding: 20px 30px 0px 15px; // Ajout d'une marge intérieure.
    box-sizing: border-box; // La largeur et la hauteur incluent le contenu, la marge intérieure et la bordure.
    border-top-right-radius: 30px; // Rayon du coin supérieur droit fixé à 30px.
    border-top-left-radius: 30px; // Rayon du coin supérieur gauche fixé à 30px.
    padding-bottom: 50px; // Ajout d'une marge intérieure en bas de 50px.
}
/***** End Header style ****/ // Commentaire indiquant la fin des styles de l'en-tête.

/****** Restaurants ***********/
.menus {
    width: 100%;
    padding-bottom: 50px;
    .menus-cards{
        .section-title {
            margin: 0;
            font-family: Shrikhand;
            font-size: 28px;
            font-style: italic;
            font-weight: 700;
            line-height: 41px;
            letter-spacing: 0em;
            text-align: left;    
        }
        .section-subtitle{
            text-transform: uppercase;
            font-family: Roboto;
            width: 80%;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        .menus-subtitle h5 {
            position: relative;
            display: inline-block;
            padding-bottom: 5px;
            margin-top: 10%;
            margin-bottom: 0px;
        }

        .menus-subtitle h5::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 10%; /* Centrer la bordure */
            transform: translateX(-125%); /* Centrer la bordure */
            height: 2px; /* Épaisseur de la bordure */
            width: 8%; /* Largeur de la bordure */
            background-color: var(--border-subtitle-color); /* Couleur de la bordure */
        }
    }
}

.menus-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menus-cards{
    padding: 30px 50.5px 0px 50.5px;
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    .card {
        animation-name: fadeIn;
        animation-duration: 5s;
    }
    
    .card:nth-child(1) {
        animation-delay: 0s;
    }
    
    .card:nth-child(2) {
        animation-delay: 2s;
    }
    
    .card:nth-child(3) {
        animation-delay: 4s;
    }
    
    .card{
        width: 100%;
        display: block;
        margin-top: 15px;  
        border-radius: 15.04px;
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px var(--card-box-shadow-color); 
        .btn-check {
            display: none;
            margin-top: -37px;
            margin-bottom: -25px;
            width: 40px;
            height: 64px;
            border-top-right-radius: 15.04px;
            border-bottom-right-radius: 15.04px;
            background-color: #99E2D0;//#89C8FA;
            .fa-circle-check{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 60%;
            }
            
            .fa-solid{
                color: #fff;
            }
        }
        
        &:hover .btn-check {
            display: inline;
        }
        
        & .euro {
            display: inline;
        }        
    }

    .card-content {
        width: 100%;
        height: 54px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .card-subtitle-box{
        display: flex;
        justify-content: space-between;
    }

    .card-title
     {
        margin-top: 10px;
        margin-bottom: 4px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .card-subtitle {
        margin: 0;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

    }

    .card-rating {
        margin-top: 32px;
        margin-bottom: 2px;
        display: grid;
        grid-template-columns: 20% 20%;
        grid-template-rows: repeat(1, auto);
        grid-auto-flow: column;
        grid-gap: 50%;
        .euro{
            font-family: Roboto;
            font-size: 15px;
        }

    }    
}
/****** End Pages Desktop style ******/

/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /***************************************************/
    /******** General style for restaurants page********/
    /***************************************************/
    .main-container {
        width: 100%;
    }

    .header-logo {
        width: 99.7%;
        height: 63px;
        display: grid; 
        grid-template-columns: 10px auto; 
        grid-template-rows: repeat(1, auto); 
        grid-auto-flow: column;
    }

    .header-arrow {
        margin-top: 15px; 
        font-size: 20px; 
        padding:10px;
    }

    main{
        position: relative;
    }

    .page-hero-banner{
        width: 100%;
        height: 275px;
        top: 63px;
        img{
            width: 100%;
            height: 275px;
            position: absolute;
            z-index: -1; /* Met l'image en arrière-plan */
        }
    }

    .commande-and-menus {
        display: block;
        justify-content: space-between;
        position: relative;
        z-index: 1; /* Garde la div au premier plan */
        margin-top: -10%;
        box-sizing: border-box;
        padding: 0;        
    }
    
    .commande-and-menus section {
        padding: 30px 30px 0px 15px;
        box-sizing: border-box;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    /****** Restaurants ***********/
    .menus {
        width: 100%;
        .menus-cards{
            .section-title {
                margin: 0;
                font-family: Shrikhand;
                font-size: 28px;
                font-style: italic;
                font-weight: 700;
                line-height: 41px;
                letter-spacing: 0em;
                text-align: left;    
            }
            .section-subtitle{
                text-transform: uppercase;
                font-family: Roboto;
                width: 80%;
                font-size: 16px;
                font-weight: 300;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
            }

            .menus-subtitle h5 {
                position: relative;
                display: inline-block;
                padding-bottom: 5px;
                margin-top: 10%;
                margin-bottom: 0px;
            }

            .menus-subtitle h5::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 10%; /* Centrer la bordure */
                transform: translateX(-80%); /* Centrer la bordure */
                height: 2px; /* Épaisseur de la bordure */
                width: 13%; /* Largeur de la bordure */
                background-color: var(--border-subtitle-color); /* Couleur de la bordure */
            }
        }
    }
 
     .menus-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menus-cards{
        padding: 0px;
        .card{
            width: 100%;
            display: block;
            margin-top: 15px;  
            border-radius: 15.04px;
            box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px var(--card-box-shadow-color);      
        }

        .card-content {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;
        }
        
        .card-subtitle-box{
            display: flex;
            justify-content: space-between;
        }

        .card-title {
            margin-top: 10px;
            margin-bottom: 4px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
        }

        .card-subtitle {
            margin: 0;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;

        }
    
        .card-rating {
            margin-top: 32px;
            margin-bottom: 2px;
            .euro{
                font-family: Roboto;
                font-size: 15px;
            }
        }        
    }

    .home-hero-banner{
        .btn{
            width: 49.580%;
            height: 50px;
            padding: 20px;
        }
    }
}