@charset "UTF-8";
/****** Pages Desktop style ******/
/****** General ***********/
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: "Roboto", sans-serif;
}

/***** Header style ****/
.main-container {
  width: 100%;
}

.header-logo {
  display: grid;
  grid-template-columns: 10px auto;
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: column;
  height: 96.34px;
  width: 100%;
}

.header-arrow {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px;
}

main {
  position: relative;
}

.page-hero-banner {
  width: 100%;
  height: 383px;
}
.page-hero-banner img {
  width: 100%;
  height: 383px;
  position: absolute;
  object-fit: cover; /* Cette ligne assure que l'image couvre la zone sans se déformer. */
  z-index: -1; /* Met l'image en arrière-plan */
}

.commande-and-menus {
  display: block;
  justify-content: space-between;
  position: relative;
  z-index: 1; /* Garde la div au premier plan */
  margin-top: -5%;
  box-sizing: border-box;
  padding: 30px 180px 0px 180px;
}

.commande-and-menus section {
  padding: 20px 30px 0px 15px;
  box-sizing: border-box;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-bottom: 50px;
}

/***** End Header style ****/
/****** Restaurants ***********/
.menus {
  width: 100%;
  padding-bottom: 50px;
}
.menus .menus-cards .section-title {
  margin: 0;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.menus .menus-cards .section-subtitle {
  text-transform: uppercase;
  font-family: Roboto;
  width: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.menus .menus-cards .menus-subtitle h5 {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  margin-top: 10%;
  margin-bottom: 0px;
}
.menus .menus-cards .menus-subtitle h5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%; /* Centrer la bordure */
  transform: translateX(-125%); /* Centrer la bordure */
  height: 2px; /* Épaisseur de la bordure */
  width: 8%; /* Largeur de la bordure */
  background-color: var(--border-subtitle-color); /* Couleur de la bordure */
}

.menus-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menus-cards {
  padding: 30px 50.5px 0px 50.5px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menus-cards .card {
  animation-name: fadeIn;
  animation-duration: 5s;
}
.menus-cards .card:nth-child(1) {
  animation-delay: 0s;
}
.menus-cards .card:nth-child(2) {
  animation-delay: 2s;
}
.menus-cards .card:nth-child(3) {
  animation-delay: 4s;
}
.menus-cards .card {
  width: 100%;
  display: block;
  margin-top: 15px;
  border-radius: 15.04px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px var(--card-box-shadow-color);
}
.menus-cards .card .btn-check {
  display: none;
  margin-top: -37px;
  margin-bottom: -25px;
  width: 40px;
  height: 64px;
  border-top-right-radius: 15.04px;
  border-bottom-right-radius: 15.04px;
  background-color: #99E2D0;
}
.menus-cards .card .btn-check .fa-circle-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60%;
}
.menus-cards .card:hover .btn-check {
  display: inline;
}
.menus-cards .card .euro {
  display: inline;
}
.menus-cards .card-content {
  width: 100%;
  height: 54px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.menus-cards .card-subtitle-box {
  display: flex;
  justify-content: space-between;
}
.menus-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.menus-cards .card-subtitle {
  margin: 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.menus-cards .card-rating {
  margin-top: 32px;
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 20% 20%;
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: column;
  grid-gap: 50%;
}
.menus-cards .card-rating .euro {
  font-family: Roboto;
  font-size: 15px;
}

/****** End Pages Desktop style ******/
/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /***************************************************/
  /******** General style for restaurants page********/
  /***************************************************/
  .main-container {
    width: 100%;
  }
  .header-logo {
    width: 99.7%;
    height: 63px;
    display: grid;
    grid-template-columns: 10px auto;
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: column;
  }
  .header-arrow {
    margin-top: 15px;
    font-size: 20px;
    padding: 10px;
  }
  main {
    position: relative;
  }
  .page-hero-banner {
    width: 100%;
    height: 275px;
    top: 63px;
  }
  .page-hero-banner img {
    width: 100%;
    height: 275px;
    position: absolute;
    z-index: -1; /* Met l'image en arrière-plan */
  }
  .commande-and-menus {
    display: block;
    justify-content: space-between;
    position: relative;
    z-index: 1; /* Garde la div au premier plan */
    margin-top: -10%;
    box-sizing: border-box;
    padding: 0;
  }
  .commande-and-menus section {
    padding: 30px 30px 0px 15px;
    box-sizing: border-box;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
  /****** Restaurants ***********/
  .menus {
    width: 100%;
  }
  .menus .menus-cards .section-title {
    margin: 0;
    font-family: Shrikhand;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
  }
  .menus .menus-cards .section-subtitle {
    text-transform: uppercase;
    font-family: Roboto;
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .menus .menus-cards .menus-subtitle h5 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 10%;
    margin-bottom: 0px;
  }
  .menus .menus-cards .menus-subtitle h5::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%; /* Centrer la bordure */
    transform: translateX(-80%); /* Centrer la bordure */
    height: 2px; /* Épaisseur de la bordure */
    width: 13%; /* Largeur de la bordure */
    background-color: var(--border-subtitle-color); /* Couleur de la bordure */
  }
  .menus-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menus-cards {
    padding: 0px;
  }
  .menus-cards .card {
    width: 100%;
    display: block;
    margin-top: 15px;
    border-radius: 15.04px;
    box-shadow: 0px 4.0114941597px 15.0431032181px 0px var(--card-box-shadow-color);
  }
  .menus-cards .card-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .menus-cards .card-subtitle-box {
    display: flex;
    justify-content: space-between;
  }
  .menus-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  .menus-cards .card-subtitle {
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .menus-cards .card-rating {
    margin-top: 32px;
    margin-bottom: 2px;
  }
  .menus-cards .card-rating .euro {
    font-family: Roboto;
    font-size: 15px;
  }
  .home-hero-banner .btn {
    width: 49.58%;
    height: 50px;
    padding: 20px;
  }
}

/*# sourceMappingURL=pages.css.map */
