/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    /* Colors */
    --primary-color: #9356dc;
    --bg-color: #F3F3F3;
    --secondary-color: ;
    --grey-secondary-color: #EAEAEA;
    --green-color: #99e2d0;
    --green-font-color: #008766;
    --blue-color: #89c8fa;
    --blue-2-color: #003a68;
    --footer-bg-color: #353535;
    --white-color: #FFFFFF ;
  }
  

.fa-solid {
    background-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    /*padding: 0 50px;*/
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******************************/
.section-light-grey-background {
    background-color: var(--bg-color);
}

.section-grey-background {
    background-color: var(--grey-secondary-color);
}

.direction-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.direction-column-align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.direction-column {
	display: flex;
	flex-direction: column;
}


.text-center {
	text-align: center;
}

/*** button style ***/
.btn {
    width: 186px;
    height: 50px;
    top: 50px;
    color: var(--white-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    border: 0px solid var(--bg-color);
}

.button-primary-Color{
    background: var(--primary-color);
}

.btn-rounded {
    border-radius: 25px;
}

.btn-linear-gradient-background {
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}
.btn-hero-linear-gradient-background{
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.section-background{
    background: var(--bg-color);
}

.box-shadow{
    box-shadow: 0px 4px 15px 0px #00000059;
}

.btn-hovering{
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}
/*** end button style ***/

/******************************/
/****** End General ***********/


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
    }

    header {
        width: 100%;
        /** logo **/
        .header-logo{
            width: 98%;
            height: 63px;
            padding: 14px, 89px, 13px, 89px;
            background: var(--white-color);
            gap: 10px;
            margin-top: 20px;
        }

        img {
            display: flex;
            align-content: center;
            width: 100%;
            height: 36px;
            top: 14px;
            left: 89px;
            margin: auto;
            gap: 10px;
        }
        /** end logo **/

        /** location **/
        .location{
            display: flex; // Définir la div comme un conteneur flex
            justify-content: center; // Centrer les éléments horizontalement
            align-items: center; // Centrer les éléments verticalement
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            height: 50px;
            top: 62.5px;
            left: -0.5px;
            gap: 17px;
        }
    }

    .home-hero-banner{
        width: 100%;
        padding-top: 30px;

        p{
            //Paragraph
            width: 315px;
            height: 46px;
            top: 220px;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0em;
        }
        .btn-hero{
            margin-bottom: 40px;
        }
    }    

    /** header btn options **/
    .fonctionement{
        padding: 10px;
        .fonctionement-title{
            margin-bottom: 30px;
        }
        .btn-group {
            display: grid;
            grid-template-columns: repeat(1, 1fr); /* Créer deux colonnes de largeur égale */
            grid-template-rows: repeat(3, auto); /* Créer deux lignes de hauteur adaptée au contenu */
            grid-auto-flow: column; /* Remplir les cellules du grid par colonne */
            margin-left: 5%;
        }
    
        .btn-option {
            display: grid;
            grid-template-columns: 5px 10px auto;
            grid-template-rows: repeat(1, auto);
            grid-auto-flow: column;
            width: 90%;
            height: 2rem;
            background-color: var(--bg-color);
            color: black;
            gap: 1.9rem;
            border-radius: 30px;
            padding: 20px 10px 10px 0px;
            margin-bottom: 0.9rem;
            margin-right: 0.3rem;
            .list-number{
                border: 1px solid black;
                padding: 5px 15px 5px 15px;
                margin-bottom: 20px;
                margin-left: -15px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9356DC;
                border: 0px solid #9356DC;
                color: var(--white-color);
            }
            .btn-list-option{
                color: #9356DC;
            }
        }    
    }
    /** End header btn options **/

/****** fonctionnement And restaurants ***********/
    .fonctionnement-and-restaurants {
        display: block;
        justify-content: space-between;
    }

    .fonctionnement-and-restaurants section {
        padding: 30px;
        box-sizing: border-box;
    }

    /****** Restaurants ***********/
    .restaurants {
        width: 100%;
    }

    .restaurants-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .restaurants-cards{
        .card{
            display: block;
            margin-top: 33px;            
        }

        img{
            width: 100%;
            height: 136px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;            
        }

        .card-content {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;
        }
    
        .card-title {
            margin-top: 10px;
            margin-bottom: 4px;
        }

        .card-subtitle {
            margin: 0;
        }
    
        .card-rating {
            margin-top: 10px;
            margin-bottom: 5px;
        }        
    }
    
    .footer-content {
        width: Fixed (375px);
        height: Hug (186px);
        top: 2066px;
        padding: 22px, 25px, 22px, 25px;
        padding-left: 20px;
        padding-bottom: 20px;
        gap: 10px;   
        background: var(--footer-bg-color);
        color: var(--bg-color);

        .footer-title{
            width: 137.58px;
            height: 27px;   
            font-family: Shrikhand;
            font-size: 18px;
            font-style: italic;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;      
        }
    }    
}