/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Colors */
    --primary-color: #9356dc;
    --bg-color: #F3F3F3;
    --grey-secondary-color: #EAEAEA;
    --green-color: #99e2d0;
    --green-font-color: #008766;
    --blue-color: #89c8fa;
    --blue-2-color: #003a68;
    --footer-bg-color: #353535;
    --white-color: #FFFFFF ;
    --border-subtitle-color: #99E2D0;
    --card-box-shadow-color: #0000001A;
    --card-label-color: #008766;
    --card-label-background: #99E2D0;
    --card-label-shadow: #00000026;
}

/* Style du loader */
.loader {
    display: flex; 
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-out;
    img{
        margin-bottom: 5%;
    }
}

.load {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Animation du loader */
@keyframes disappear {
    from { opacity: 1; z-index: 9999; }
    to { opacity: 0; z-index: -1; }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Applique l'animation après un certain temps */
.loader {
    animation-name: disappear;
    animation-delay: 3s; /* Durée avant que l'animation commence */
    animation-duration: 2s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Garde les styles de la dernière image clé après que l'animation soit terminée */
}

/* End Style du loader */
.card-rating{
    cursor: pointer;
}

.fa-icon {
    font-size: 21px;
    width: 21px;
    height: 21px;
}

.solid-fa {
    background: -webkit-linear-gradient(45deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
    display: none;
}

.card-rating:hover .fa-solid {
    display: inline;
}

.card-rating:hover .fa-regular {
    display: none;
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    /*padding: 0 50px;*/
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover; /* Cette ligne assure que l'image couvre la zone sans se déformer. */
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******************************/
.section-light-grey-background {
    background-color: var(--bg-color);
}

.section-grey-background {
    background-color: var(--grey-secondary-color);
}

.direction-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.direction-column-align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.direction-column {
	display: flex;
	flex-direction: column;
}


.text-center {
	text-align: center;
}

/*** button style ***/
.btn {
    width: 18.290%;
    height: 50px;
    top: 50px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    border: 0px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-primary-Color{
    background: var(--primary-color);
}

.btn-rounded {
    border-radius: 25px;
}

.btn-linear-gradient-background {
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}
.btn-hero-linear-gradient-background{
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    opacity: 0.8;
}
.btn-hero-linear-gradient-background:hover{
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    transform: scale(1.02);
    opacity: 1;
}
.section-background{
    background: var(--bg-color);
}

.box-shadow{
    box-shadow: 0px 4px 15px 0px #00000059;
}

.btn-hovering{
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}
/*** end button style ***/

/******************************/
/****** End General ***********/
/******************************/

/****** Desktop Style ***********/
header {
    width: 100%;
    height: 146px;
    background: var(--white-color);
    /** logo **/
    .header-logo{
        height: 96px;
        padding: 14px 89px 13px 89px;
        background: var(--white-color);
        gap: 10px;
        margin-top: 20px;
    }

    img {
        display: flex;
        align-content: center;
        width: 100%;
        height: 36px;
        top: 14px;
        left: 89px;
        margin: auto;
        gap: 10px;
    }
    /** end logo **/

    /** location **/
    .location{
        display: flex; // Définir la div comme un conteneur flex
        justify-content: center; // Centrer les éléments horizontalement
        align-items: center; // Centrer les éléments verticalement
        // font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        height: 50px;
        top: 62.5px;
        left: -0.5px;
        gap: 17px;
    }
}

.home-hero-banner{
    width: 100%;
    padding-top: 30px;
    .section-title{
        // font-family: Roboto;
        font-size: 34px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
    }
    p{
        width: 90%;
        height: 46px;
        top: 220px;
        // font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
    }
    .btn-hero{
        margin-bottom: 40px;
    }
}

    /** header btn options **/
    .fonctionement{
        width: 100%;
        height: 228.38px;
        gap: 25px;
        .fonctionement-title{
            margin-bottom: 30px;
        }
        .btn-group {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Créer deux colonnes de largeur égale */
            grid-template-rows: repeat(1, auto); /* Créer deux lignes de hauteur adaptée au contenu */
            grid-auto-flow: column; /* Remplir les cellules du grid par colonne */
            /*margin-left: 3%;*/
        }
    
        .btn-option {
            display: grid;
            grid-template-columns: 5px 10px auto;
            grid-template-rows: repeat(1, auto);
            grid-auto-flow: column;
            width: 90%;
            height: 35.38px;
            background-color: var(--bg-color);
            color: black;
            gap: 1.9rem;
            border-radius: 20px;
            padding: 20px 10px 10px 0px;
            margin-bottom: 0.9rem;
            margin-right: 0.3rem;
            .list-number{
                top: 132.86px;
                left: 180px;
                border: 1px solid black;
                padding: 5px 10px 5px 10px;
                margin-bottom: 20px;
                margin-left: -12px;
                border-radius: 50px;
                font-family: Roboto;
                font-size: 10px;
                text-align: left;                
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9356DC;
                border: 0px solid #9356DC;
                color: var(--white-color);
            }
            .btn-list-option{
                color: #9356DC;
                margin-top: 28%;
            }
        }    
    }
    /** End header btn options **/
/****** fonctionnement And restaurants ***********/
.fonctionnement-and-restaurants {
    display: block;
    justify-content: space-between;
}

.fonctionnement-and-restaurants section {
    padding: 30px;
    box-sizing: border-box;
    padding: 50px 180px 50px 180px;
    gap: 20px;
}

/****** Restaurants ***********/
.restaurants {
    width: 100%;
}

.restaurants-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurants-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-gap: 15px;
    .card{
        display: block;
        margin-top: 33px;            
    }

    img{
        width: 100%;
        height: 154.4px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;            
    }
    
    .card-label{
        width: 19.590%; /*80px;*/
        height: 29px;
        left: 35px;
        border-radius: 2px;
        background-color: var(--card-label-background);
        position: absolute; /* Modifié de relative à absolute */
        top: 7%; /* Modifié de 13px à 10% */
        left: 76%;/*230px;*/
        box-shadow: 0px 2px 4px 0px var(--card-box-shadow-color);
        // font-family: Roboto;
        font-size: 85%; /*14px;*/
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--card-label-color);
    }

    .card-content {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .card-subtitle {
        margin: 0;
    }

    .card-rating {
        margin-top: 10px;
        margin-bottom: 5px;
    }        
}

.footer-content {
    display: flex;
    flex-direction: row-reverse;
    top: 2066px;
    padding: 22px 25px 22px 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 10px;   
    background: var(--footer-bg-color);
    color: var(--bg-color);

    .footer-title{
        width: 137.58px;
        height: 27px;   
        font-family: Shrikhand;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;      
    }

    .footer-menu{
        display: flex;
        flex-direction: row;
        margin-top: 22px;
        gap: 20px;
    }
}
/****** End Desktop Style ***********/

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /***..***/
    .home-hero-banner{
        width: 100%;
        .btn{
            width: 21.70%;/*180.49px;*/
            height: 26px;
            top: 13px;
            left: 18.75px;
            padding: 12px;
        }
    }
    .restaurants-cards{
        .card-label{
            position: absolute; /* Modifié de relative à absolute */
            top: 7%; /* Modifié de 13px à 10% */
            left: 68%;/*230px;*/
        }    
    }
    .list-number{
        border: 1px solid black;
        padding: 5px 10px 5px 10px;
        margin-bottom: 20px;
        margin-left: -12px;
        border-radius: 50px;
    }
    .btn-list-option{
        color: #9356DC;
    }   
    .btn-function{
        font-size: 70%;
    }         
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
    }
    
    .fa-location-dot{
        width: 12px;
        height: 16px;
        margin-top: 3%;
     }

    header {
        width: 100%;
        height: 113px;
        /** logo **/
        .header-logo{
            height: 63px;
            padding: 14px 89px 13px 89px;
            background: var(--white-color);
            gap: 10px;
            margin-top: 20px;
        }

        img {
            display: flex;
            align-content: center;
            width: 100%;
            height: 36px;
            top: 14px;
            left: 89px;
            margin: auto;
            gap: 10px;
        }
        /** end logo **/

        /** location **/
        .location{
            display: flex; // Définir la div comme un conteneur flex
            justify-content: center; // Centrer les éléments horizontalement
            align-items: center; // Centrer les éléments verticalement
            // font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            height: 50px;
            top: 62.5px;
            left: -0.5px;
            gap: 17px;
        }
    }

    .home-hero-banner{
        width: 100%;
        padding-top: 30px;
        .section-title{
            // font-family: Roboto;
            font-size: 34px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
        }
        p{
            //Paragraph
            width: 90%;
            height: 46px;
            top: 220px;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
            color: #353535;
        }
        .btn-hero{
            margin-bottom: 40px;
        }
        .btn{
            width: 51.69%;/*218px;*/
            height: 26px;
            top: 13px;
            left: 18.75px;
        }
    }    

    /** header btn options **/
    .fonctionement{
        padding: 10px;
        height: 360px;/*440px;*/
        .fonctionement-title{
            margin-bottom: 30px;
        }
        .btn-group {
            display: grid;
            grid-template-columns: repeat(1, 1fr); /* Créer deux colonnes de largeur égale */
            grid-template-rows: repeat(3, auto); /* Créer deux lignes de hauteur adaptée au contenu */
            grid-auto-flow: column; /* Remplir les cellules du grid par colonne */
            margin-left: 5%;
        }
    
        .btn-option {
            display: grid;
            grid-template-columns: 5px 10px auto;
            grid-template-rows: repeat(1, auto);
            grid-auto-flow: column;
            width: 90%;
            height: 2rem;
            background-color: var(--bg-color);
            color: black;
            gap: 1.9rem;
            border-radius: 30px;
            padding: 20px 10px 10px 0px;
            margin-bottom: 0.9rem;
            margin-right: 0.3rem;
            .list-number{
                border: 1px solid black;
                padding: 5px 10px 5px 10px;
                margin-bottom: 20px;
                margin-left: -11px;
                border-radius: 50px;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9356DC;
                border: 0px solid #9356DC;
                color: var(--white-color);
            }
            .btn-list-option{
                color: #9356DC;
            }
            .btn-function{
                font-size: 16px;
            }
        }    
    }
    /** End header btn options **/

/****** fonctionnement And restaurants ***********/
    .fonctionnement-and-restaurants {
        display: block;
        justify-content: space-between;
    }

    .fonctionnement-and-restaurants section {
        padding: 30px;
        box-sizing: border-box;
    }

    /****** Restaurants ***********/
    .restaurants {
        width: 100%;
    }

    .restaurants-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .restaurants-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 5px;
        .card{
            display: block;
            height: 241px;
            margin-top: 33px;            
        }

        img{
            width: 100%;
            height: 181px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;         
        }

        .card-label{
            width: 80px;
            height: 29px;
            background-color: #99E2D0;
            position: absolute; /* Modifié de relative à absolute */
            top: 7%; /* Modifié de 13px à 10% */
            left: 68%;/*230px;*/
            box-shadow: 0px 2px 4px 0px #00000026;
            // font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .card-content {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;
        }
    
        .card-title {
            margin-top: 10px;
            margin-bottom: 4px;
        }

        .card-subtitle {
            margin: 0;
        }
    
        .card-rating {
            margin-top: 10px;
            margin-bottom: 5px;
        }        
    }

    /** Footer **/
    footer {
        background: var(--footer-bg-color);
        color: var(--bg-color);
        border: 1px solid var(--footer-bg-color);
        .footer-content {
            display: block;
            gap: 10px;   
    
            .footer-title{
                width: 137.58px;
                height: 27px;   
                font-family: Shrikhand;
                font-size: 18px;
                font-style: italic;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;      
            }
            .footer-menu{
                display: flex;
                flex-direction: column;
                gap: 3px;
            }
        }
    }
    
}